.example-tree-invisible {
  display: none;
}

.example-tree {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: revert ;
  width: 100%;
}
.empty-image-phrase{
  background: #39377c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-load-container {
  position: relative;
  display: flex;
  align-items: center;

  .name {
    margin-right: 1rem;
  }

  .small-spinner {
    position: relative;
    min-height: 8px;

    max-height: 8px;
    left: 0;
    top: 0;
  }
}

.select-all-block {
  margin-left: 1.5rem;
  margin-top: 1rem;
  display: flex;
}
mat-nested-tree-node {

  margin-bottom: 1rem;
}

.li-container{
  display: flex;
align-items: center;
height: 74px;
flex: 1;
overflow: hidden;
word-wrap: break-word;
font-weight: 400;
font-size: 14px;
padding: .75rem 1.25rem;
margin-bottom: 0;
// margin-top: 1rem;
background-color: rgba(0,0,0,.03);
}
.li-class-wth-expand-child{
  ul{
    background: #f5f5fa !important;
    padding-bottom: 1rem;
// padding-right: 1rem;
// border: 1px solid #eae1e191;
border-top: 0px;
  }
}
.expand-accordion{
  background-color: #ddf4ee;
border-left: 6px solid #1bbd9f !important;
border-radius: 4px !important;
}
.check-box-select{
  margin-right: 1rem;
}
.empty-image-class {
  width: 43px;
  height: 43px;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  background-image: url(../../../../../assets/images/icons//empty-image.jpg);
background-size: contain;
}

.image-class{
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  // background-image: url(../../../../../assets/images/icons//empty-image.jpg);
background-size: contain;
border-radius: 50%;
}

.padding-non-child{
  padding: 0.75rem 1.25rem !important;

}


.padding-no-child-element{
  // padding-left: 2.7rem !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left:56px !important;
}

.play-icon{
  color: #640c64;
cursor: pointer;
background: #640c6442;
border-radius: 50%;
}

.select-all-padding{
  padding-left: 59px;
  padding-top: 16px;
  margin-right: 17px;
padding-bottom: 16px;}



.expande-icon{
  position: relative;
    top: 2px;
    font-size: 21px;
    cursor: pointer;
}
.expand-button{
  border: 0;
    background: transparent;
    text-align: center;
    position: relative;
}
.background-color{
  background: #f7f7f7;
}

.rtl-icon-has-child{
  margin-left: 9px;
font-size: 22px;
margin-right: 9px;
}

.content-class-ownership{

    background-color: #efc239;
  
    margin: 6px;
}