<div class=" li-container select-all-padding"  >
  <mat-checkbox id="selectAll"
  style="margin-right: 1rem;"
  (change)="changeSelectAll()"
  [checked]="getSelectAll()"
>
</mat-checkbox>
  <span >Select All</span>

</div>
<mat-tree #tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">

  <mat-tree-node     *matTreeNodeDef="let data" 
  matTreeNodePadding [ngClass]="{'background-color': data.parentId != null}">

    <li class="padding-non-child mat-tree-node li-container" 
     style=" padding: 0.75rem 1.25rem ; margin-top: 1rem;"
     [ngClass]="{'padding-no-child-element': hasNoChild(data)}"
     >
    
      
      <mat-icon *ngIf="data.hasChild" class="mat-icon-rtl-mirror rtl-icon-has-child"

                (click)="changeState(data)"
                style="cursor: pointer;">
        {{nestedTreeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>


      <div class="child-load-container">
        <div style=" justify-content: flex-end;">
          <span style="display: flex; justify-content: flex-end;">
            <mat-checkbox class="check-box-select disable-check-box-class"
              (change)="clickedActive(data)"
              [checked]="data.state === 'checked'"
              [indeterminate]=" data.state === 'indetermine'"
              [disabled]="isSponserdElement(data)"
            >
            </mat-checkbox>
            
          </span>
        </div>
   
        <img  *ngIf="data.image != undefined " src="{{data.image}}" class="image-class">
        <span  *ngIf="!data.image" class="image-class empty-image-phrase">
          {{getEmptyImagePhrase(data.type)}}
        </span>
        <span class="name">  {{data.name}}  </span>

        <span class="material-icons play-icon" 
        (click)= "playVideo(data)"
        *ngIf="data.video_url ">
          play_arrow
        </span>
        <span class="badge badge-success badge-class content-class-ownership" 
        *ngIf="isSponserdElement(data)">
        sponserded</span>

        <div class="hcp-table-loading loader-edit-page small-spinner"
             *ngIf="data.hasChild && data.expanded && data.children.length === 0"
        >
          <mat-progress-spinner [diameter]="20" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
     
   
   
    </li>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let data; when: hasChild" matTreeNodePadding 
  [ngClass]="{'background-color': data.parentId != null}"
  >
    <!-- <li class="li-class-wth-expand-child"> -->
      <div class="mat-tree-node li-class-wth-expand-child" style="    margin-top: 1rem;">
        <div class="li-container" 
        
        [ngClass]="{'expand-accordion' :nestedTreeControl.isExpanded(data)}">
          
    

      <button mat-icon-button matTreeNodeToggle class="expand-button"
      [attr.aria-label]="'toggle ' + data.name">
<mat-icon class="mat-icon-rtl-mirror expande-icon">
  {{nestedTreeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
</mat-icon>
</button>
      <div style="display: flex;  justify-content: flex-end;">

        <span style="display: flex; justify-content: flex-end;">
          <mat-checkbox class="check-box-select disable-check-box-class"
            (change)="clickedActive(data)"
            [checked]="data.state === 'checked' "
            [indeterminate]=" data.state === 'indetermine'"
            [disabled]="isSponserdElement(data)"
          >
          </mat-checkbox>
          </span>
      </div>
 
      <img  *ngIf="data.image != undefined" src="{{data.image}}" class="image-class">
      <span  *ngIf="!data.image" class="image-class empty-image-phrase">
        {{getEmptyImagePhrase(data.type)}}
      </span>
      <span>{{data.name}}   </span>
    
      <span class="badge badge-success badge-class content-class-ownership" 
        *ngIf="isSponserdElement(data)">
        sponserded</span>
        </div>
      </div>
      <!-- <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(data)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul> -->
    <!-- </li> -->
  </mat-tree-node>
</mat-tree>





<ngx-smart-modal #videoModal
                 (onClose)="closeVideoModal()"
                 [dismissable]="false"
                 identifier="conditionModal"
                 customClass="nsm-dialog-animation-ttb nsm-centered hcp-list video-modal">
  <div class="hcp-list-wrap">
    <h5 class="modal-header">{{videoModalTitle}}</h5>

    <div *ngIf="!loadingVideoModal">
 
    <app-video-component class="video-container "

    [videoId]="currentVideo.video_url"
    [playDefault]="false"
    (onReadyPlayer)="initPlayer($event)"

    (lastPercentage)="onPercentageChanged($event)"
    (playStatus)="onPlayChanged($event)"
    [videoStyle]="2"

    [videoTitle]=""
></app-video-component>
  



    </div>


    <div class="hcp-table-loading" *ngIf=" loadingVideoModal">
      <mat-progress-spinner class="small-spiner" [diameter]="50" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

</ngx-smart-modal> 



