.form-card.top-details {
  margin-bottom: 20px;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

::ng-deep{
  .logo-box{
    margin-top: 5px !important;
  }
  .key-contact .card-wrap{
    & > div {
      margin-bottom: 20px;
    }

    & > div input {
      border-color: #d7dce1;
    }
  }
  //.key-contact .card-wrap{
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //
  //  border-left: 4px solid #39377c;
  //  padding: 15px;
  //  background-color: rgb(57 55 125 / 6%);
  //  border-bottom-right-radius: 10px;
  //  border-top-right-radius: 10px;
  //  & > div {
  //    width: 49%;
  //    margin-bottom: 15px;
  //    label {
  //      text-transform: capitalize;
  //    }
  //  }
  //
  //}
}
