.hcp-common-top-prescribed-videos-card {


  .hcp-title-h2,
  .hcp-title-h1 {
    color: #454C5C;
  }

  &__chart-block {
    p {
      margin-top: 8px;
      color: #717889;
      margin-bottom: 29px;
    }
  }

  &__chart {
    width: 100%;
  }
}
