.slide-field-input {
    display: flex;
    margin: 0 -10px;
    align-items: center;

    .mat-slider {
      flex-basis: 100%;
      margin: 0 10px;
      padding: 0 !important;
    }

    input[type="text"] {
      flex-basis: 10%;
      margin: 0 10px;
      height: 38px;
      border: 1px solid #CED4DA;
      color: #1BBD9F;
      font-size: 14px;
      text-align: center;

      ::placeholder {
        color: #1BBD9F;
        font-size: 14px;
        text-align: center;
      }
    }
  }
