.info-button {

  text-decoration-line: none;
  color: #39377c;
  font-weight: bold;
}

.button-container {
  display: flex;
}

.btn-name {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
}

.last-element {
  margin-left: auto;
  display: flex;
  align-items: center;
}
