<!--*ngFor="let video of nabedAdContentObject"-->
<ng-container>
  <div class="title-section">
    <h3>{{mainListTitle}}</h3>
    <h4>{{mainListSubTitle}}</h4>
  </div>
  <div class="container" >
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-xs-12 doctor-video-info video-style-two"
        *ngFor="let video of mainList">
        <div class="session-info-wrapper">
          <a>
            <div class="left-side-section">
              <app-video-component
                [videoId]="video.video_url"
                (lastPercentage)="onPercentageChanged($event)"
                (playStatus)="onPlayChanged($event,video.content_id)"
                [videoStyle] = "1"
                [videoDescription]=""
                [videoTitle]=""
              ></app-video-component>
            </div>
            <div class="right-side-section">
              <h3>{{video.title}}</h3>
              <p>{{video.description}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
