<div class="card-container">
  <h5>{{cardInfo.title}}</h5>
  <p class="card-description">{{cardInfo.description}}</p>
  <div class="card-views-container">
    <p class="card-total-number">{{cardInfo.totalNumber}}</p>
    <p>{{cardInfo.totalNumberTitle}}</p></div>
  <hr class="hr-margin">
  <div class="portions-container">

    <div *ngFor="let  cardPortion of cardInfo.portions">
        <span class="first-line" style="width: 100px;">
            <span class="second-line"

                  [ngStyle]="{'width' : cardPortion.portion,
                         'background' : cardPortion.background} "></span>
        </span>
      <p class="portion">{{cardPortion.portion}}  {{cardPortion.portionTitle}}</p>
    </div>


  </div>
</div>
