.card-container {
  background: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  // max-width: 396px;

  .card-description {
    font-size: 14px;
    color: #b2b2b7;
  }

  .card-views-container {
    display: flex;
    margin: 1.3rem 0;
    -webkit-box-align: center;
    align-items: center;
    color: #210e65;

    .card-total-number {
      font-weight: bold;
      font-size: 27px;
      margin-right: 12px;
    }
  }

}

.first-line {
  padding: 1px;
  background: #c9c6c6;
  content: '';
  display: block;

  .second-line {
    display: block;
    background: blue;
    padding: 1px;
  }
}

.hr-margin {
  margin: 2rem 0 3rem 0;
}

.portion {
  margin-top: 1rem;
  font-size: 14px;
  color: #504545;
}

.portions-container {


  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
