input[type="radio"] {
    appearance: none;
display: inline-block;
width: 17px;
height: 17px;
padding: 2px;
background-clip: content-box;
border: 1.8px solid #717889;
// background-color: #e7e6e7;
border-radius: 50%;
margin-right: 9px;
}
input[type="radio"]:checked {
    background-color: #6861AC;
    border: 1.8px solid #6861AC;
  }
  
  /* optional styles for centering radiobuttons */
  .sound-signal {
    display: flex;
    align-items: center;
  }

  .radio-box-container{
    display: flex;
    margin-right: 12px;
    align-items: center;
  }

  .radio-label{
    font-size: 14px;
    color: #717889;
  }