.flex-class {
  display: flex;
  justify-content: flex-start;
}

.node-class {
  background: white;
  min-height: 83px;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 208px;

  max-width: 208px;
  text-align: center;
  margin-top: 0;
  border: 1px solid;
  border-radius: 9px;
  position: relative;
}

.child-class {
  position: relative;
}

.child-class:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  bottom: -24px;
  left: 50%;
  border-left: 2px solid #c9c0c0;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.node:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -83px;
  bottom: 100%;
  left: 50%;
  border-left: 2px solid #c9c0c0;
  transform: translate(-50%);
}

.node {
  // margin: 1.5rem;
  // max-width: 265px;
  margin: 50px auto;
  // width: 265px;
  // height: 100px;

  position: relative;
  text-align: center
}

.tree {
  position: relative;
}

.orgchart-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 6.5rem;
  height: max-content;
}

.three-dots-container:after {
  content: '\2807';
  font-size: 20px;
}

.three-dots-container {
  transform: rotate(90deg);
  display: inline-block;
  margin-left: auto;
  margin-right: 14px;
  margin-top: auto;
  cursor: pointer;
}

.name-class {
  padding: 1rem 3rem;

  p {
    text-overflow: ellipsis;

    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.outlet-class {
  color: #c0c0c4;
  font-size: 14px;
}

.menu-actions {
  position: absolute;
  top: 97%;
  right: 0;
  background: white;
  z-index: 12;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: rgb(220, 220, 220) 0px 1px 2px 0px;

  .action-container {
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 7px 10px;
    width: 120px;
    color: rgb(122, 122, 122);
    display: flex;

    div {
      padding: 7px 23px 7px 10px;
    }
  }
}

.tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand-icon {
  position: absolute;
  top: 79%;

  left: 42%;
  font-size: xx-large;
  cursor: pointer;
}

.colored-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 10px;
}

.menu-actions.bottom-click.ng-star-inserted {
  right: -120px;
  top: -70px;
}
.menu-actions.bottom-click-outlet.ng-star-inserted {
  right: -120px;
  top: -20px;
}
