<div class="flex-class" id="flex{{tree.id}}">
  <div *ngIf="tree != null">
    <div id="node{{tree.id}}" class="node-class"
         [ngStyle]="{'border-color' : tree.color}"
         [ngClass]="tree.children !== undefined && tree.children.length>0 && tree.collapse ? 'child-class' : ''">
      <div class="colored-circle" [ngStyle]="{'background' : tree.color}"></div>

      <div class="name-class">
        <p>{{tree.title}}</p>

      </div>
      <div class="outlet-class">{{tree.type | titlecase}}
        <span *ngIf="tree.type !== 'outlet'">({{tree.nodeTreeDescription}})</span>
      </div>
      <div class="three-dots-container"
      *ngIf="tree.editAble || tree.addAble || tree.deleteAble"
       (click)="toggleMenu($event)" #threeDots></div>
      <span class="material-icons expand-icon"
            *ngIf="tree.children !== undefined && tree.collapse && tree.children.length>0"
            (click)="toogleChildNode(tree)"
      >
            remove_circle
            </span>
      <span class="material-icons expand-icon"
            *ngIf="tree.children !== undefined && !tree.collapse && tree.children.length>0"
            (click)="toogleChildNode(tree)"
      >
                add_circle
                </span>

      <div class="menu-actions"
           *ngIf="appearMenuAction"
           [ngClass]="[
           tree.type == 'outlet' && bottomClick ? 'bottom-click-outlet' : '',
           tree.type != 'outlet' && bottomClick ? 'bottom-click' : ''
           ]">
        <div class="action-container" *ngIf="tree.addAble"
             (click)="addNodeAction(tree)"
             #toggleAddButton
             [ngClass]="[tree.type.toLowerCase() === 'outlet' ? 'd-none' : '' ]">
                <span class="material-icons">
                    add_to_photos
                    </span>
          <div>add</div>
        </div>

        <div class="action-container" *ngIf="tree.editAble"  (click)="editNodeAction(tree)" #toggleEditButton>
                <span class="material-icons">
                    create
                    </span>
          <div>edit</div>
        </div>
 
        <div class="action-container" *ngIf="tree.deleteAble" (click)="DeleteNodeAction(tree)" #toggleDeleteButton>
                <span class="material-icons">
                    delete
                    </span>
          <div>delete</div>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="tree != null &&  tree.children !== undefined && tree.children.length>0 && tree.collapse" class="tree"
     id="tree{{tree.id}}">

  <div class="flex-class">
    <app-orgchart-tree class="node" *ngFor="let nodeTree of tree.children"
                       (treeChange)="changingTreeDraw()"
                       (onChildUpdate)="updateChild($event)"
                       (onDelete)="DeleteNodeAction($event)"
                       (onAdd)="addNodeAction($event)"
                       (onEdit)="editNodeAction($event)"
                       [treeChanged]="treeChanged"
                       [ngClass]="tree.children !== undefined && tree.children.length>0 ? 'orgchart-tree' : ''"
                       [tree]="nodeTree"></app-orgchart-tree>

  </div>
</div>
